<%= form_for @profile, url: user_profile_path(@user), html: { multipart: true } do |f| %>
    <div class="form-group">
        <%= f.label 'Imię' %>
        <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Nazwisko' %>
        <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Zdjęcie profilowe' %>
        <%= f.file_field :avatar, class: 'form-control' %>
    </div>    
    <div class="form-group">
        <%= f.label 'Rok' %>
        <%= f.text_field :year, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Email' %>
        <%= f.text_field :contact_email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Opinia Nauczyciela' %>
        <%= f.text_area :opinion, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Zapisz', class: 'btn btn-primary' %>
    </div>
    

<% end %>