<%= form_for @test, url: new_test_path do |f| %>
    <div class="form-group">
        <%= f.label 'Przedmiot' %>
        <%= f.select :subject, ['Historia Muzyki', 'Formy Muzyczne'], {}, class: 'form-clontrol' %>
    </div>
    <div class="form-group">
        <%= f.label 'Temat' %>
        <%= f.text_field :topic, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label 'Data' %>
        <%= f.date_select :date, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.submit 'Zapisz', class: 'btn btn-success' %>
    </div>
<% end %>
<% button_to :back, class: 'btn btn-default' %>